certifi==2022.9.24
charset-normalizer==2.1.1
cssselect==1.2.0
datar==0.9.1
diot==0.1.6
executing==1.2.0
greenlet==2.0.1
idna==3.4
inflection==0.5.1
lxml==4.9.2
numpy==1.23.5
pandas==1.5.1
pdtypes==0.0.4
pipda==0.8.2
pyhomebroker==0.53
pyquery==2.0.0
python-dateutil==2.8.2
python-simpleconf==0.5.7
pytz==2022.6
requests==2.28.1
rtoml==0.8.0
signalr-client-threads==0.0.12
six==1.16.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.44
sseclient==0.0.27
urllib3==1.26.12
webencodings==0.5.1
websocket-client==1.4.2
